<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Forms</h5>
          <div class="card">
            <div class="card-body">
              <form [formGroup]="productviewform">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> Product View</label>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Category</label>
                    <select class="form-select" formControlName="category_id" aria-label="Default select example">
                      <option *ngFor="let data of categorydata" value="{{data.category_id}}">{{data.category_name}}</option>
                    </select>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Brand</label>
                        <select class="form-select" formControlName="brand_id" aria-label="Default select example" (change)="onChange()">
                          <option *ngFor="let data of branddata" value="{{data.brand_id}}">{{data.brand_name}}</option>
                        </select>


                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Size</th>
                        <th scope="col">Product Colour</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Add stock</th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let data of productdata,let i=index">
                        <td> {{i+1}} </td>
                        <td> {{data.product_name}} </td>
                        <td> {{data.product_size}} </td>
                        <td> {{data.product_colour}} </td>
                        <td class="text-danger"><img style="width:50px;height:50px;"
                            src="http://localhost:3000/images/{{data.product_image}}">
                        </td>
                        <td> {{data.price}} </td>
                        <td> {{data.stock}} </td>


                        <td>    
                        <button type="button" class="btn btn-outline-success m-1" [routerLink]="['/adminmaster/editproduct',data.product_id]"><i class="ti ti-edit"></i></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger m-1" (click)="Deleteproductdata(data.product_id)"><i class="ti ti-trash"></i></button>

                        </td>
                        <td>
                          <button type="submit" class="btn btn-primary" [routerLink]="['/adminmaster/stockadd',data.product_id]">ADD Stock</button>

                        </td>
                    </tbody>
                  </table>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary" [routerLink]="['/adminmaster/productreg']">ADD PRODUCT</button>
          


        </form>
          <!-- </div> -->
          
            </div>
          </div>
        </div>
      </div>
    </div>