

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6" >
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Male Fashion</h4>
                                <!-- <span>Awesome, clean &amp; creative HTML5 Template</span> -->
                                <div class="main-border-button">
                                    <a [routerLink]="['/guestmaster/guestlogin']">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="/assets/guest/images/portrait-fashionable-boy-posing.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <a></a><a></a><h4 style="color: black;">Shirts</h4>
                                            <span style="color: black;">Best Shirts For men</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Shirts</h4>
                                                <p>Get the latest mens trendy shirt collections.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/guestmaster/guestlogin']">Purchase now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/guest/images/fashion-stylish-model-dressed-elegant-light-pink-suit-posing-near-white-wall.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                               <h4 >T Shirts</h4>
                                            <span>Best T Shirts For men</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>T Shirts</h4>
                                                <p>Get the latest mens trendy t-shirt collections.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/guestmaster/guestlogin']">Purchase now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/guest/images/front-view-man-sitting-motorcycle.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Pants</h4>
                                            <span>Best Offers for pants</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Pants</h4>
                                                <p>Get the latest mens trendy pants collections.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/guestmaster/guestlogin']">Purchase now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/guest/images/close-up-portrait-man-shirt-mockup.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Accessories</h4>
                                            <span>Best Trendy Accessories</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Accessories</h4>
                                                <p>Best Trendy Accessories</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/guestmaster/guestlogin']">Purchase Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/guest/images/portrait-young-man-2000s-fashion-style-posing-with-tv.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"  >
                    <div class="section-heading">
                        <h2>Best Collections</h2>
                        <span> A fashion hub for various latest men's trendy collections</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-6">
                    <div class="thumb">
                        <div class="icon">
                            <a [routerLink]="['/guestmaster/guestlogin']">
                                <h6>Fashion</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/assets/guest/images/excited-brunet-charming-man-orange-jacket-colorful-t-shirt-sunglasses-sings-sincerely-smiles-listens-music-headphones-outside.jpg" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="thumb">
                        <div class="icon">
                            <a [routerLink]="['/guestmaster/guestlogin']">
                                <h6>New</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/assets/guest/images/young-handsome-man-choosing-clothes-shop.jpg" alt="">
                    </div>
                </div>
               
                
    <!-- </section> -->
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
   
    <!-- ***** Subscribe Area Ends ***** -->
    
