<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Forms</h5>
          <div class="card">
            <div class="card-body">
              <form [formGroup]="brandregform" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> Brand Registration</label>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Brand Name</label>
                  <input type="text" class="form-control" placeholder="enter brand name" formControlName="brand_name" exampleInputPassword1>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Brand Logo</label>
                    <input class="form-control" type="file" formControlName="brand_image" (change)="selectFile($event)" id="formFile">
                  </div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
              </form>
            </div>
          <!-- </div> -->
          
            </div>
          </div>
        </div>
      </div>
    </div>