<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Forms</h5>
          <div class="card">
            <div class="card-body">
              <form [formGroup]="districteditform">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> District Edit</label>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">District</label>
                  <input type="text" class="form-control" placeholder="enter district name" formControlName="district_name" exampleInputPassword1>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="Onsubmit()">Submit</button>
              </form>
            </div>
          <!-- </div> -->
          
            </div>
          </div>
        </div>
      </div>
    </div>