<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="/assets/customer/img/about/about-us.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Are ?</h4>
                    <p>In the world of male fashion, Male Fashion stands out as a beacon of style, quality, and sophistication. With a keen eye for trends and a dedication to offering the finest garments, accessories, and footwear, we are your ultimate destination for all things fashion-forward.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Do ?</h4>
                    <p>In an era dominated by digital convenience, the enduring relevance of business cards may seem surprising. However, in the realm of male fashion, where personal connections and sartorial elegance intersect, the exchange of a well-crafted business card remains a powerful symbol of professionalism and style.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Why Choose Us</h4>
                    <p>When it comes to elevating your wardrobe to new heights of elegance and distinction, there's no better choice than Male Fashion. Whether you're seeking the perfect suit for a formal occasion, the latest trends in streetwear, or timeless accessories to complete your look, we have you covered.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->




<!-- Client Section Begin -->
<section class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Brands</span>
                    <h2>Our brands</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-6" *ngFor="let data of branddata">
                <a href="#" class="client__item"><img src= "http://localhost:3000/images/{{data.brand_image}}" alt=""></a>
            </div>
            </div>
    </div>
</section>