<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title fw-semibold mb-4">Forms</h5> -->
          <div class="card">
            <div class="card-body">
              <form [formGroup]="changepassword" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> Change Password</label>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">enter your username</label>
                  <input type="text" class="form-control"  formControlName="username" exampleInputPassword1>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">enter Current Password</label>
                    <input type="text" class="form-control"  formControlName="password" exampleInputPassword1>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">enter new Password</label>
                    <input type="text" class="form-control" formControlName="newpassword" exampleInputPassword1>

                    <div *ngIf="changepassword.controls['newpassword'].invalid && (changepassword.controls['newpassword'].dirty || changepassword.controls['newpassword'].touched) || validationstatus">
                        <div *ngIf="changepassword.controls['newpassword'].errors['required']" style="color: red;">Please Enter Your password </div>
                        <div *ngIf="changepassword.controls['newpassword'].errors['pattern']" style="color: red;">Only alphanumeric characters allowed</div>
                      </div>
                  </div>   
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">re-enter new Password</label>
                    <input type="text" class="form-control"  formControlName="confirmnewpassword" exampleInputPassword1>
                  </div>
                
                <button type="submit" (click)="onSubmit()" class="btn btn-primary"   >Submit</button>
              </form>
            </div>
          <!-- </div> -->
          
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
